/* Align nav items to the center */
#navbarNavAltMarkup {
    justify-content: center;
}
/* Spread out nav items */
.nav-item {
    margin-right: 150px;
}

/* To overlap nav bar on header video */
.navbar {
	z-index: 1;
    }

.navbar-nav{
    font-weight: 700;
}