html,body {
    height: 100%;
}
/* Margin top for spacing between scroll down icon and About Us */
.about-us {
    margin-top: 80px;
}

.about-us h1 {
    text-align: center;
}

/* Overlay scroll down arrow in header video */
.video {
    position: relative;
  }
#scroll-group {
    position: absolute;
    bottom: 30px;
  }
/* Overlay scroll down arrow in header video */