html,body {
    height: 100%;
}

#bg-divider {
    background-image: url(../images/bg.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}


.intro {
    background-color: #edf4fe;
}

.intro p {
    color: #153f65;
    font-family:'Noto Serif','Quicksand';
    line-height: 2em;
    font-weight:900;
}

.intro img {
    height: 100%;
}

.intro h1 {
    text-align: center;
    background-color: bfd2d9;
    color: #002535;
    font-family: 'Arvo','Exo 2';
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight:900;
}

/* Overlay scroll down arrow in header video */
.video {
    position: relative;
  }
#scroll-group {
    position: absolute;
    bottom: 30px;
  }



.sipadan {
    background-color: #002535;
    text-align: center;

}
.sipadan h1{
  color: white;
  margin-top: 50px;
  font-family: 'Arvo','Exo 2';
}

.sipadan a {
  color: #76b6c4;
  font-size: 30px;
  font-family:'Noto Serif','Quicksand';
}

.sipadan p {
  color: white;
  line-height: 2em;
  font-size: 20px;
  margin-top: 50px;
  font-family:'Noto Serif','Quicksand';
}


.raja-ampat {
    background-color: #3b89ac;
    text-align: center;
}

.raja-ampat h1{
  color: white;
  margin-top: 50px;
  font-family: 'Arvo','Exo 2';
}
.raja-ampat a {
  color: #76b6c4;
  font-size: 30px;
  font-family:'Noto Serif','Quicksand';
}
.raja-ampat p{
  color: white;
  line-height: 2em;
  font-size: 20px;
  margin-top: 50px;
  font-family:'Noto Serif','Quicksand';
}

.similan {
    background-color: #22646e;
    text-align: center;
}
.similan h1{
  color: white;
  margin-top: 50px;
  font-family: 'Arvo','Exo 2';
}
.similan a {
  color: #76b6c4;
  font-size: 30px;
  font-family:'Noto Serif','Quicksand';
}

.similan p{
  color: white;
  line-height: 2em;
  font-size: 20px;
  margin-top: 50px;
  font-family:'Noto Serif','Quicksand';
}

.footer{
    background-image: url(../images/bg-footer.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
}

/* styling of subscribe background */
.subscribe-background {
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-color:rgba(13, 156, 167, 0.15);
}

/* styling of the subscribe header */
form h2 {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 15px;
}

/* styling of subscribe input */
.formStyle { 
    background-color: rgba(225, 225, 225, 0);
    padding: 20px; 
    width: 100%; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }

  /* Removes outline of input box when clicked on */
  input:focus {
    outline: none;
  }

  /* Styling of placeholder text */
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-weight: bold;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
    font-weight: bold;
    opacity: 1; /*remove the default opacity in firefox*/
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-weight: bold;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
    font-weight: bold;
    opacity: 1;  /*remove the default opacity in firefox*/
  }

    /* styling of radio button */
.radio {
    text-align: center;
    padding-left: 10px;
}

/* spacing between radio buttons */
.radio input {
    margin-left: 20px;
}

  /* set width of name/email input box for laptop/desktop */
  @media (min-width:600px){
    .formStyle{
        width: 400px;
    }
  }
/* Align Name and Email to center */
  .input-name-email {
      text-align: center;
  }

  /* styling of subscribe button */
  .formButton {
      background-color:#ffffff;
      display:inline-block;
      color:#2ecc71;
      font-size:28px;
      font-weight: 500;
      padding:6px 24px;
      margin-top: 15px;
      text-decoration:none;
  }
  
  .subscribe-button{
      text-align: center;
  }


  .formButton:hover {
    background-color: #27ae60;
    color:#ffffff;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }

  /*Scroll to top button */
  #myBtn {
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 25px !important;
    color: white;
    cursor: pointer;
    padding: 10px 10px 10px 11px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
    background-color: black;
 }
 
 #myBtn:hover {
    background-color: #aeaeae;
 }

 /* Social media icons */


.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 3rem;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}


.share {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: .5rem 1rem .5rem 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
  display: inline-block;
  justify-content: center;
}

#site-footer {
  background-color: black;
  height: 60px;
}

@media (max-width: 992px) {
  .crossfade {
    min-height: 552px;
  }
}

@media (min-width: 992px){
  .structure {
    height: 982px;
}
}