html,body {
    height: 100%;
}

#bg-divider {
    background-image: url(../images/bg.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}


.intro {
    background-color: #edf4fe;
}

.intro p {
    color: #153f65;
    font-family:'Noto Serif','Quicksand';
    line-height: 2em;
    font-weight:900;
}

.intro img {
    height: 100%;
}

.intro h1 {
    text-align: center;
    background-color: bfd2d9;
    color: #002535;
    font-family: 'Arvo','Exo 2';
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight:900;
}

/* Overlay scroll down arrow in header video */
.video {
    position: relative;
  }
#scroll-group {
    position: absolute;
    bottom: 30px;
  }

  
.structure {
    height: 982px;
}

.sipadan {
    background-color: #002535;
}

.raja-ampat {
    background-color: #3b89ac;
}

.similan {
    background-color: #22646e;
}

.footer{
    /* background-image: url(../images/bg-footer.jpg); */
    height: 700px;
    background-size: cover;
    background-position: center;
}

.subscribe-background {
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-color: black;
}